header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #002a44;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #f7b731; 
    border-bottom: 1px solid #f7b731;
    position: sticky;
    top: 0;
    width: 100%;
}

.logo img {
    height: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

nav li {
    color: #f7b731;
    cursor: pointer;
}

/* NUEVOS ESTILOS PARA LA SECCIÓN DE ACCIONES DE USUARIO */
.user-actions {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    gap: 15px; /* Espacio entre el ícono de perfil y el botón */
}

/* ESTILOS PARA EL ÍCONO DE PERFIL CIRCULAR */
.profile-icon {
    width: 40px; /* Tamaño del ícono */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen cubra el círculo sin distorsionarse */
    border: 2px solid #f7b731; /* Borde para resaltarlo */
    cursor: pointer;
    transition: transform 0.2s;
}

.profile-icon:hover {
    transform: scale(1.05);
}

.volver {
    background: transparent;
    color: #f7b731;
    border: 1px solid #f7b731;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.iniciar-sesion{
    background: transparent;
    color: #f7b731;
    border: 1px solid #f7b731;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.volver:hover {
    background-color: #f7b731;
    color: #002244;
    transition: 0.3s;
}

.iniciar-sesion:hover {
    background-color: #f7b731;
    color: #002244;
    transition: 0.3s;
}

li:hover {
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}

header {
  box-sizing: border-box;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}