
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #002a44;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #002244;
  color: #f7b731; 
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav li {
  color: #f7b731;
  cursor: pointer;
}

.volver {
  background: transparent;
  color: #f7b731;
  border: 1px solid #f7b731;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.volver:hover {
  background-color: #f7b731;
  color: #002244;
  transition: 0.3s;
}