body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #002a44;
  color: white; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #003a5c;
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav li {
  color: #fff;
  cursor: pointer;
}

.volver {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.layout {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.sidebar {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar .card {
  min-height: 200px;
  background-color: #003a5c;
  border-radius: 10px;
  padding: 15px;
}

.tabla-central {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.card {
  background: #003a5c; 
  border-radius: 10px;
  padding: 15px;
  min-height: 250px;
}

.card h2 {
  font-size: 18px;
  color: #f7b731;
  margin-bottom: 10px;
}

.tabla {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabla li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.pos {
  background: #ccc;
  color: black;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.pos.azul {
  background: #007bff;
  color: white;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.amarillo {
  background: yellow;
}

.celeste {
  background: #00c2ff;
}

.blanco {
  background: white;
}

.rojo {
  background: red;
}

.estadisticas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.estadisticas .card {
  min-height: 180px;
  background-color: #003a5c;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    border-top: solid 2px #f7b731;
}

footer div{
    text-align: center;
}

footer li{
    text-align: left;
}