body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #002a44;
  color: white; 
  color: #f7b731;
}

h1{
    text-align: center;
}

.pregunta{
    padding: 1%;
    margin: 2%;
    background: #003a5c; 
    border-radius: 10px;
    padding: 15px;

}

.pregunta:hover{
  h2{
    text-decoration: underline;
  }
  background-color: #0a5783;
}

.integrantes .a{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.int img{
  border-radius: 50%;
}